

/* Written and Styled by Jake Flynn */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

/* GLOBALS */

html body{
	background-image: url("../img/bg.jpg");
}

/* END GLOBALS */

header img{
	width: 100px;
	float:left;
}

article img{
    
}
h1{
    color: aliceblue;
}


/* nav styling */
nav li{
  list-style: none;
  display: inline-block;
  
}

nav a:link,
nav a:visited {
  background: red;
  text-decoration: none;
  padding: 1em;
}

nav a:hover{
  background: blue;
  color: red;
  margin-left: 10px;
  transition: all .75s;
}

nav a:active{
  background: black;
  color: white;
}


/*Quote*/

blockquote{
    color: ghostwhite;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 0 red;
    font-family: 'IM Fell Double Pica', serif;
}